[data-sidebar="provider"] {
  --sidebar-width: 15rem;
}

.sidebar-root {
  width: var(--sidebar-width);
}

.sidebar-mobile {
  width: min(var(--sidebar-width), 85vw);
}

[data-desktop="darwin"] [data-sidebar="provider"] {
  --sidebar-width: 17rem;
}
